services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: frontend/pdf-upload-app/Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend

  redis:
    image: redis:7-alpine
